body {
  font-family: 'Ubuntu', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

body:first-child {
  grid-column-start: 1;
  grid-column-end: 2;
}

body:last-child {
  text-align: right;
  grid-column-start: 2;
  grid-column-end: 3;
}

a {
  text-decoration: none;
}

li {
  margin-bottom: 20px;
}

button, input {
  display: block;
  margin-bottom: 10px;
}

button.create {
  margin: 25px 25px 0 auto;
}

.options a > * {
  display: inline-block;
  margin: 10px 15px 0 0;
}