<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="static/style.css" rel="stylesheet">  
  <title>Document</title>
</head>

<body>
  <ul>
    {% for person in personList %}
    <li>
      <b>Inscrição: </b>{{ person.id }}<br />
      <b>Nome: </b>{{ person.name }} ({{ person.id }})<br />
      <b>CPF: </b>{{ person.cpf }}<br />
      <b>Telefone: </b>{{ person.phone }}<br />
      <b>Endereço: </b>{{ person.address }}, {{ person.addressNumber }}<br />
    </li>
    {% endfor %}
  </ul>
</body>

</html>