<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
  <link href="http://localhost:8000/static/style.css" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <form method="post">
    {% csrf_token %}
    <h2>Deseja exluir {{ person.id }} - {{ person.name }} ?</h2>
    <button type="submit">Sim</button>
  </form>
</body>

</html>