<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
  <link href="http://localhost:8000/static/style.css" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <div>
    <b>Inscrição: </b>{{ person.id }}<br />
    <b>Nome: </b>{{ person.name }}<br />
    <b>CPF: </b>{{ person.cpf }}<br />
    {% if person.rg %}
        <b>RG: </b>
        {{ person.rg }}
        <br />
    {% endif %}
    {% if person.dateOfBirth %}
        <b>Data de Nascimento: </b>
        {{ person.dateOfBirth }}
        <br />
    {% endif %}
    {% if person.email %}
        <b>E-mail: </b>
        {{ person.email }}
        <br />
    {% endif %}
    {% if person.telephone or person.celphone %}
        <b>Telefones: </b>
        {% if person.telephone %}
            {{ person.telephone }}
        {% endif %}
        {% if person.cellphone %}
            {% if person.cellphone %}
              |
            {% endif %}
            {{ person.cellphone }}
        {% endif %}
        <br />
    {% endif %}
    {% if person.address %}
        <b>Endereço: </b>
        {{ person.address }}
        {% if person.cep %}
            ({{ person.cep }})
        {% endif %}
        {% if person.addressNumber %}
            , {{ person.addressNumber }}
        {% endif %}
         - {{ person.state }}
        <br />
    {% endif %}
    <br />
    <b>Propostas Realizadas:</b>
    <ul class='requests'>
        {% for request in requests %}
            <li>
                <b>Número da Proposta: </b>{{ request.id }}<br/>
                <b>Data da Proposta: </b>{{ request.date }}<br/>
                <b>Valor: </b>{{ request.value }}<br/>
                <b>Número de Parcelas: </b>{{ request.installments }}<br/>
                <b>Valor da Parcela: </b>
                {{ request.installmentsValue }}
            </li>
        {% endfor %}
    </ul>
  </div>
  <div>
    <a href="{% url 'listPerson' %}">
      <button type="button" class="create">Voltar</button>
    </a>
  </div>
</body>

</html>